body{
    display: flex;
    background-color: rgb(255, 234, 117);
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(rgb(255, 0, 0),rgb(0, 0, 0));
}
main{
   
    place-items: center;
    min-height: 100vh;
    position: relative;
}
.box{
    display: flex;
    
}
.box .eye{
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    background: white;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25)
     0px 30px 60px -12px inset, 
     rgba(0, 0, 0, 0.8) 0px 18px 36px -18px
      inset;
}

.box .eye::before
{
content:'';
position:absolute;
top: 50%;
left: 35px;
transform: translate(-50%,-50%);
width: 45px;
height: 45px;
background: rgb(0, 0, 0);
border-radius: 50%;
border: 10px solid rgb(255, 0, 0);
box-sizing: border-box;
}
.text{

}